<app-nav></app-nav>
<app-send-image></app-send-image>

<div class="page-wrapper">
	<div class="content">		
		<div class="form-group channel">
			<label>Choose channel</label>
			<select class="form-control" [ngModel]="currentChannelId" (ngModelChange)="chooseChannel($event)">
				<option *ngFor="let channel of channels" value="{{channel.id}}">{{channel.name}}</option>
			</select>
		</div>		
		<div class="messages" #chatBox>
			<ul >
				<li *ngFor="let message of messages" [ngClass]="message.user.id == currentUserId ? 'sent': 'replies'">
					<div class="username">{{message.user.username}}</div>					
					<p *ngIf="message.type == 'text'">{{message.content}}</p> 
					<img class="msgImg" *ngIf="message.type == 'image'" src={{message.content}}/> 
					<!-- <a>{{message.createdAt.split('T')[1].split('.')[0]}}</a> -->
				</li>
			</ul>
			<div style="clear:both;"></div>
		</div>

		<div class="message-input">
			<div class="wrap">
				<input type="text" placeholder="Enter something" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendTextMessage()"/>
				<a href="#" data-toggle="modal" data-target="#sendImageModal">
					<i class="fa fa-file attachment" aria-hidden="true"></i>
				</a>
				<button class="submit" (click)="sendTextMessage()">
					<i class="fa fa-share-square" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>